<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" href="stylesheets/base.css">
	
	{@if is_back}<link rel="stylesheet" href="stylesheets/back_common.css">{@/if}
</head>
<body>
	

	<div id="back" class="wrap1200">
		<div id="content">
			<div class="cntr" id="layout2">
				<style>
					#layout2 .cb1{width: 400px;}
					#layout2 .cb2{width: 800px;}
				</style>
				<div class="c_block c5 h200 blocks_move"></div>
				<div class="clear_rx blocks_move">
					<div class="cb1 c_block fl_rx c2 h300"></div>
					<div class="cb2 c_block fl_rx c9 h300">
						<div class="model aaaa111"><!--model是relative的，且必须有宽高-->
							<style>
								.model{background: blue;}
								.aaaa111 .aaa{width: 300px;height: 200px;background: yellow;}
							</style>
							<div class="aaa">
								abc
							</div>
							
						</div>

						<div class="c_block_btn_group">
							<div class="choseBtn">
								<div class="bg"></div>
								<div class="btn_ctn btn2">增加楼层</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="javascripts/other/jquery-1.9.1.min.js"></script>
	{@if is_back}
		<script src="javascripts/other/juicer-min.js"></script>
		<script src="javascripts/cms_back.js"></script>
	{@/if}
</body>
</html>