html,body{height: 100%;}
.h50{height: 50px;}
.h100{height: 100px;}
.h150{height: 150px;}
.h200{height: 200px;}
.h250{height: 250px;}
.h300{height: 300px;}
.h350{height: 350px;}
.h400{height: 400px;}
.h450{height: 450px;}
.h500{height: 500px;}

.c1{background-color: #9E92D9;}.c2{background-color: #37D37A;}.c3{background-color: #9EDA91;}.c4{background-color: #BBE963;}.c5{background-color: #7EC20C;}.c6{background-color: #A59D92;}
.c7{background-color: #5141AB;}.c8{background-color: #1660C6;}.c9{background-color: #4BD93D;}.c10{background-color: #E54935;}.c11{background-color: #971D0E;}.c12{background-color: #805E47;}
.c13{background-color: #6AAEA2;}.c14{background-color: #C4C545;}.c15{background-color: #D87983;}.c16{background-color: #9588B9;}.c17{background-color: #C26CB7;}.c18{background-color: #7B4059;}

/*选择布局弹出窗口开始*/

#chose_layouts_cntr .bg3{z-index: 1001;filter:alpha(opacity=40);opacity: .4;}
.chose_win{width: 800px;height: 400px;position: fixed;top: 24%;left: 50%;margin-left: -400px;z-index: 10001;padding: 10px;}
.chose_win .bg2{filter:alpha(opacity=40);opacity: .4}
.chose_win .content{position: relative;z-index: 2;color: #ffffff;height: 100%;}
.c_title{font-size: 12px;line-height: 24px;height: 24px;margin-bottom: 10px;}
.c_left{position: absolute;top:0;left:0;width: 45%;height:100%;}
.c_right{position: absolute;top:0;right:0;width: 50%;height:100%;}
.piece_ul{height: 90%;overflow: auto;}
.piece_ul li{border-top: 1px solid #cccccc;height: 32px;line-height: 32px;padding-left: 20px;cursor: pointer;position: relative;}
.bgli{filter:alpha(opacity=50);opacity: .5;}
.isupdate{color: red;margin-left: 10px;}
.ctnli{position: relative;z-index: 2;}
.piece_ul li:hover{background: #AFAA58;color: rgba(222,161,20,0.81);}
.border_top_none{border-top: none!important;}
.prev_view{height: 90%;position: relative;overflow-y: auto;overflow-x: hidden;}
.prev_view img{width: 100%;height: auto;border: none;}
/*选择布局弹出窗口结束*/



.choseBtn{float:right;position: relative;border-radius:4px;overflow: hidden;margin-right: 10px;margin-bottom: 6px;}
.choseBtn:hover .bg{opacity: .5;filter:alpha(opacity=50);}
.btn_ctn{position: relative;height: 20px;width: 80px;padding: 4px;text-align: center;color: #ffffff;cursor: pointer;z-index: 2;font-size: 12px;line-height: 20px;}
.bg,.bg2,.bg3,.bgli,.bg5{background: black;filter: alpha(opacity=10);opacity: .1;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}
#content{position: relative;}




.noFloorHintInfo,.noModelHintInfo{position: absolute;top: 0;left: 0;width: 100%;height: 100%;color: #fff;text-align: center;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}


.win_bg{background: black;filter: alpha(opacity=70);opacity: .7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10000;}
.blocks_bg{background: black;filter: alpha(opacity=70);opacity: .7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9600;}
.block_bg{background: black;filter: alpha(opacity=70);opacity: .7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9500;}
.floor_bg{background: black;filter: alpha(opacity=70);opacity: .7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9400;}
.no_bg{}
.add_floor_bg{background: black;filter: alpha(opacity=70);opacity: .7;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9450;}
.edit_blocks_bg{background: black;filter: alpha(opacity=75);opacity: .75;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9800;}
.edit_floor_bg{background: black;filter: alpha(opacity=75);opacity: .75;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9700;}

.edit_blocks_mask .btn_group{position: relative;z-index: 9801;float: left;margin-left: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.edit_floor_mask .btn_group{position: relative;z-index: 9701;float: left;margin-left: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.no_mask .btn_group{position: relative;z-index: 9301;float: left;margin-left: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.block_mask .btn_group{position: relative;z-index: 9501;float: right;margin-right: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.blocks_mask .btn_group{position: relative;z-index: 9601;float: right;margin-right: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.add_floor_mask .btn_group{position: relative;z-index: 9451;float: right;margin-right: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}
.floor_mask .btn_group{position: relative;z-index: 9401;float: right;margin-right: 10px;margin-top: 10px;background: rgba(155,144,12,.5)}

.blocks_mask,.block_mask,.floor_mask,.add_floor_mask,.edit_blocks_mask,.edit_floor_mask{position: absolute;width: 100%;height: 100%;top:0;left:0;}
.no_mask{position: absolute;width: 100%;height: 0%;top:0;left:0;}

.c_block_btn_group{position: absolute;top: 0;left: 0;z-index: 1000;background: rgba(123,32,151,.4);}
.c_block_btn_group:hover{background: rgba(123,32,151,.8);}

#back{position: relative;height: 100%;}
#back .cntr{position: relative;}
.c_block{position: relative;}
.c_floor{position: relative;}
.blocks_move{position: relative;}

.notclick{background: yellow;}
.notclick .btn_ctn{cursor: not-allowed;}
.notclick.fixbtn:hover .bg{opacity: .5;filter: alpha(opacity=50);}

#sys_btns{position: fixed;top: 30%;right: 50px;width: 300px;height: 200px;z-index: 9900;}
#sys_btns:hover{background: rgba(155,211,89,.7); }
#sys_btns .choseBtn{margin-right: 0;}
.bg_color1{background: rgba(155,211,89,.7);}

.fixbtn{width: 20px;padding: 4px;position: relative;float: left;margin-left: 4px;}
.fixbtn .bg{opacity: .4;}
.fixbtn:hover .bg{opacity: .8}
.fixbtn .btn_ctn{height: auto;width: 20px;padding: 0;}
.fixbtn.active .bg{opacity: .8;background: red;}




.c_edit{position: relative;}
.c_edit .c_edit_zone{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.c_edit .c_edit_bg{background: black;filter: alpha(opacity=60);opacity: .6;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9000;}
.c_edit .c_edit_btn{width: 60px;height: 30px;position: absolute;top: 50%;left: 50%;margin-top: -15px;margin-left: -30px;text-align: center;line-height: 30px;background: rgba(255,144,12,.5);z-index: 9001;color: #fff;cursor: pointer;}
.c_edit .c_edit_btn:hover{background: rgba(155,244,12,.8);}
.c_edit .c_edit_zone:hover .c_edit_bg{opacity: .3;filter: alpha(opacity=30);}

.c_edit_s_win{width: 424px;height: 196px;background-color: #fff;border: 1px solid #e7eaec;position: absolute;top:100px;left: 100px;z-index: 9004;}
	.c_edit_s_win .title{height: 30px;line-height: 30px;text-align: center;background: #ccad12;}
	.c_edit_s_win .content{margin: 10px;margin-left: 20px;}
		.c_edit_s_win .upload_img_comp{position: relative;width: 180px;height: 142px;}
		.c_edit_s_win .upload_img_comp .input_file_btn{position: absolute;width: 180px;height: 142px;opacity: 0;filter: alpha(opacity=0);background: yellow;top: 0;left: 0;z-index: 2;}
		.c_edit_s_win .upload_img_comp img{position: absolute;width: 180px;height: 142px;top: 0;left: 0;z-index: 1;border: 1px solid #33fa2d;}
		.c_edit_s_win .img_info{height: 142px;width: 180px;margin-left: 30px;}
						.img_info .input{margin-bottom: 5px;}
									.img_info .input .dec{height: 20px;line-height: 20px;margin-bottom: 1px;}
									.img_info .input .text{height: 30px;line-height: 30px;padding-left: 10px;border:1px solid #33fa2d;}
									.img_info .input .yesorno{width: 48%;height: 30px;background: #e6e6e6;line-height: 30px;text-align: center;cursor: pointer;border-radius: 6px;color: #fff;}
									.img_info .input .yesorno.active{background: #5cb85c;}

.btn{display: inline-block;padding: .1rem 1rem;font-size: 1rem;font-weight: 400;line-height: 1.5;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;user-select: none;border: .0625rem solid transparent;border-radius: .2rem}
.btn-success {color: #fff;background-color: #5cb85c;border-color: #5cb85c;}
.btn-success.focus, .btn-success:focus, .btn-success:hover {color: #fff;background-color: #449d44;border-color: #419641;}
.btn-block {display: block;width: 100%;}


.sub_btns{position: absolute;top: -33px;left: 0;width: 100%;}
.sub_btns .bg{opacity: .4;}
.sub_btns .choseBtn{width: 33%;float: left;}
.sub_btns .btn_ctn{width: 100%;}
.sub_btns .choseBtn.active .bg{opacity: .8;background: red;}


.edit_win{padding:10px;background: rgba(11,146,132,.4);position: absolute;top: 50%;left: 50%;margin-left: -280px;margin-top: -86px;z-index: 9801;padding-bottom: 60px;padding-top: 20px;}
.bs_edit_group{margin-bottom: 10px;}

.edit_blocks_mask .edit_group{width: 150px;margin-right: 10px;padding: 10px;background: rgba(111,100,23,.4);}
.edit_blocks_mask .edit_item{margin-bottom: 2px;}
.edit_blocks_mask .edit_item span{width: 85px;font-size: 14px;text-align: right;margin-right: 10px;display: inline-block;color: #D4DAD4;}

.edit_win .edit_input{width: 40px;color: #2DEE2D;font-size: 14px;background: #696262;border: none;padding: 2px;}
.edit_win .edit_input.unvalidate{background: #ED7171;color:#FFF017;}
.edit_win .disable_input{background: #685FC2;color:#17FFFE;}

.edit_win .saveBtn{height: 24px;background: orange;color: #fff;text-align: center;line-height: 24px;cursor: pointer;position: absolute;bottom: 10px;right: 10px;left: 10px;}
.edit_win .saveBtn:hover{background: green;}

.edit_floor_mask .edit_group{padding:10px;background: rgba(11,146,132,.4);position: absolute;top: 50%;left: 50%;margin-left: -57px;margin-top: -64px;z-index: 9701;padding-bottom: 42px;padding-top: 20px;width: 114px;}
.edit_floor_mask .edit_group .edit_item{margin-bottom: 2px;}
.edit_floor_mask .edit_group .edit_input{width: 32px;color: #2DEE2D;font-size: 14px;background: #696262;border: none;padding: 2px;}
.edit_floor_mask .edit_group .edit_input.unvalidate{background: #ED7171;color:#FFF017;}
.edit_floor_mask .edit_group .disable_input{background: #685FC2;color:#17FFFE;border: none;padding: 2px;}
.edit_floor_mask .edit_group .edit_item span{width: 62px;font-size: 12px;text-align: right;margin-right: 10px;display: inline-block;color: #D4DAD4;}
.edit_floor_mask .edit_group .saveBtn{height: 24px;background: orange;color: #fff;text-align: center;line-height: 24px;cursor: pointer;position: absolute;bottom: 10px;right: 10px;left: 10px;}
.edit_floor_mask .edit_group .saveBtn:hover{background: green;}


#chose_page_cntr .piece_ul{height: 192px;overflow: auto;background: rgb(100,100,100);background: rgba(100,100,100,.6);}
#chose_page_cntr .piece_ul li.active{background: #479F03;color: #00FB0B;}
#chose_page_cntr .prevview{height: 226px;overflow: auto;width: 260px;margin-left: 10px;}
#chose_page_cntr .prevview .prev_view{height: 192px;background: rgb(100,100,100);background: rgba(100,100,100,.6);}
#chose_page_cntr .prevview .prev_view img{height: 192px;width: 260px;}
#chose_page_cntr .layoutlist{height: 226px;overflow: auto;width:160px;}
#chose_page_cntr .pageinfo{height: 226px;width: 360px;margin-left: 10px;position: relative;}
#chose_page_cntr .pageinfo .edit_group{padding:10px;background: rgba(116,116,207,0.4);padding-bottom: 42px;padding-top: 20px;width: 340px;height: 130px;}
#chose_page_cntr .edit_group .edit_item{margin-bottom: 10px;}
#chose_page_cntr .edit_group .edit_input{width: 235px;color: #2DEE2D;font-size: 14px;background: #696262;border: none;padding: 2px;}
#chose_page_cntr .edit_group .edit_input.unvalidate{background: #ED7171;color:#FFF017;}
#chose_page_cntr .edit_group .disable_input{background: #685FC2;color:#17FFFE;border: none;padding: 2px;}
#chose_page_cntr .edit_group .edit_item span{width: 62px;font-size: 12px;text-align: right;margin-right: 10px;display: inline-block;color: #D4DAD4;}
#chose_page_cntr .edit_group .saveBtn{height: 24px;background: orange;color: #fff;text-align: center;line-height: 24px;cursor: pointer;position: absolute;bottom: 10px;right: 10px;left: 10px;}
#chose_page_cntr .edit_group .saveBtn:hover{background: green;}


#chose_page_cntr .c_bottom{padding: 10px;height: 145px;background: rgb(100,100,100);background: rgba(100,100,100,.6);position: absolute;top: 235px;left: 0px;width: 780px;}
#chose_page_cntr .c_bottom .c_bottom_content{position: relative;}
#chose_page_cntr .c_bottom .page_ul{height: 146px;overflow: auto;background: rgb(100,100,100);background: rgba(100,100,100,.6);}
#chose_page_cntr .c_bottom .page_ul li{height: 146px;float: left;width: 32px;padding-left: 0;border-top: none;}
#chose_page_cntr .c_bottom .page_ul li .ctnli{text-align: center;line-height: 18px;padding: 4px 10px;height: 138px;}
.page_ul li:hover{background: #AFAA58;color: rgba(222,161,20,0.81);}
.page_ul li.active{background: #479F03;color: #00FB0B;}

